<h1>Create a new book</h1>

<% if @book.errors.any? %>
  <h2>The following errors prevented the book from being saved: </h2>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with scope: :book, url: books_path, local: true do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>